.client-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #020617;
  color: white;
}

.client-layout {
  display: flex;
}

.client-sidebar {
  width: 230px;
  background: #f1f5f9;
  min-height: 100vh;
  padding: 25px;
}

.client-sidebar ul {
  list-style: none;
  padding: 0;
}

.client-sidebar li {
  margin-bottom: 18px;
  cursor: pointer;
  font-weight: 500;
}

.client-sidebar li:hover {
  color: #1e3a8a;
}

.client-main {
  flex: 1;
  padding: 40px;
}
.logout-btn {
  padding: 6px 14px;
  background: #dc2626;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
